.food-items-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    width: 90%;
    padding: 20px;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    padding-left: 40px;
}
.food-items-container .food-item{
max-width: 300px;
width: 100%;
display: flex;
flex-direction: column;
align-items: flex-start;
}
.food-item .details .top{
    display: flex;
    justify-content: space-between;
    padding: 3px;
    gap: 30px;
}
.top .right{
    color: brown;
    font-weight: 800;
    font-size: 17px;
}
.food-item .details .bottom{
    display: flex;
    align-items: center;
  gap: 12px;
}
.details .bottom button{
    background-color: blueviolet;
      font-size:21px;
      border: none;
      outline: none;
      border-radius: 12px;
    height: 28px;
    width: 60px;
    color:black;
    cursor: pointer;
    }
.food-item button{
    display: flex;
    align-items: center;
    justify-content: center;
}
    .top .desc{
        color: rgba(0, 0, 0, 0.76);
        font-size: 12px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
.food-item img{
    width: 100%;
    object-fit: contain;
    border-radius: 20px;
}